<section class="section feedback" style="background-image: url('../images/content/feedback-block.png');">
  <div class="container">
    <div class="feedback-block">
      <div class="feedback-items">
        <p class="category">Отзывы</p>
        <h2 class="color-white" data-aos="fade-up">Реализуем Ваши мечты!</h2>
      </div>
      <div class="feedback-items">
        <div class="swiper swiper-count-arrows swiper-feedback">
          <div class="swiper-wrapper pb-115">
            <div class="swiper-slide">
              <p class="color-greySec mb-55">“Благодарю за ремонт квартиры. я доволен качеством работ. Ремонт под ключ
                занял 3 месяца. Ребята помогли с дизайн-проектом. Посоветовали перепланировку. Все сделали
                профессионально. Рекомендую. Цены средние по рынку. В будущем по строительным вопросам буду с ними
                сотрудничать.”</p>
              <div class="feedback-owner">
                <img src="/images/content/feedback-owner.jpg" alt="feedback photo">
                <div class="feedback-owner-data">
                  <p class="name">Руслана Бабич</p>
                  <p class="work-done">Ремонт ванной комнаты и кухни</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <p class="color-greySec mb-55">“Благодарю за ремонт квартиры. я доволен качеством работ. Ремонт под ключ
                занял 3 месяца. Ребята помогли с дизайн-проектом. Посоветовали перепланировку. Все сделали
                профессионально. Рекомендую. Цены средние по рынку. В будущем по строительным вопросам буду с ними
                сотрудничать.”</p>
              <div class="feedback-owner">
                <img src="/images/content/feedback-owner.jpg" alt="feedback photo">
                <div class="feedback-owner-data">
                  <p class="name">Руслана Бабич</p>
                  <p class="work-done">Ремонт ванной комнаты и кухни</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>