{{> components/head title="Обзор ЖК"}}

<body>
  <div class="app">
    {{> components/header color="header-top--white"}}

    <main>
      <section class="section top">
        <div class="bg rc" style="background-image: url('../images/content/rc-bg.jpg')"></div>
        <div class="container align-center">
          <div class="heading heading--no-border">
            <h2 class="mb-30">ЖК «Английский квартал»</h2>
            <span class="adress">
              <svg class="mr-15" width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.46667 9.39249C0.766784 8.68442 0.289962 7.78198 0.0965315 6.79933C-0.0968989 5.81669 0.00175433 4.79801 0.380009 3.87217C0.758264 2.94634 1.39912 2.15495 2.2215 1.59815C3.04388 1.04134 4.01083 0.744141 5 0.744141C5.98917 0.744141 6.95612 1.04134 7.7785 1.59815C8.60088 2.15495 9.24174 2.94634 9.61999 3.87217C9.99825 4.79801 10.0969 5.81669 9.90347 6.79933C9.71004 7.78198 9.23322 8.68442 8.53333 9.39249L5.39444 12.5777C5.3428 12.6304 5.28135 12.6723 5.21365 12.7009C5.14595 12.7294 5.07334 12.7441 5 12.7441C4.92666 12.7441 4.85405 12.7294 4.78635 12.7009C4.71865 12.6723 4.6572 12.6304 4.60556 12.5777L1.46667 9.39249ZM7.75 8.59901C8.29383 8.04808 8.66417 7.34616 8.81419 6.58203C8.96421 5.8179 8.88718 5.02586 8.59283 4.30608C8.29847 3.58629 7.80002 2.97108 7.16051 2.53825C6.52099 2.10541 5.76913 1.87439 5 1.87439C4.23087 1.87439 3.47901 2.10541 2.83949 2.53825C2.19998 2.97108 1.70153 3.58629 1.40717 4.30608C1.11282 5.02586 1.03579 5.8179 1.18581 6.58203C1.33583 7.34616 1.70617 8.04808 2.25 8.59901L5 11.3846L7.75 8.59901ZM5 8.06439C4.41063 8.06439 3.8454 7.82724 3.42865 7.40509C3.0119 6.98294 2.77778 6.41039 2.77778 5.81338C2.77778 5.21637 3.0119 4.64382 3.42865 4.22167C3.8454 3.79953 4.41063 3.56237 5 3.56237C5.58937 3.56237 6.1546 3.79953 6.57135 4.22167C6.9881 4.64382 7.22222 5.21637 7.22222 5.81338C7.22222 6.41039 6.9881 6.98294 6.57135 7.40509C6.1546 7.82724 5.58937 8.06439 5 8.06439ZM5 6.93889C5.29468 6.93889 5.5773 6.82031 5.78567 6.60923C5.99405 6.39816 6.11111 6.11188 6.11111 5.81338C6.11111 5.51488 5.99405 5.2286 5.78567 5.01753C5.5773 4.80645 5.29468 4.68787 5 4.68787C4.70532 4.68787 4.4227 4.80645 4.21433 5.01753C4.00595 5.2286 3.88889 5.51488 3.88889 5.81338C3.88889 6.11188 4.00595 6.39816 4.21433 6.60923C4.4227 6.82031 4.70532 6.93889 5 6.93889Z"
                  fill="white" />
              </svg>
              Москва, ЦАО, Замоскворечье, Мытная улица, 7с1
            </span>
          </div>
        </div>
        <div class="container">
          <div class="rc-advantages">
            <li class="rc-advantages-item">
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M29.0129 34.8732L36.4831 22.8615C36.5075 22.8226 36.5279 22.7818 36.5439 22.7394C37.8338 20.6358 38.5149 18.2328 38.5149 15.7794C38.5149 8.41932 32.527 2.4314 25.1669 2.4314C17.8068 2.4314 11.8184 8.41932 11.8184 15.7794C11.8184 18.2333 12.5005 20.6373 13.7915 22.7424C13.8064 22.7793 13.8238 22.8151 13.8448 22.85L21.0469 34.9031C15.4561 35.6933 11.7795 37.9922 11.7795 40.7809C11.7795 44.2362 17.6514 46.9422 25.147 46.9422C32.6426 46.9422 38.5144 44.2357 38.5144 40.7809C38.5149 37.9793 34.667 35.629 29.0129 34.8732ZM15.1332 22.0693C13.9424 20.1739 13.3131 17.9991 13.3131 15.7794C13.3131 9.24342 18.6304 3.92614 25.1669 3.92614C31.7029 3.92614 37.0202 9.24342 37.0202 15.7794C37.0202 18.0001 36.3909 20.1749 35.2006 22.0693C35.1757 22.1091 35.1553 22.1505 35.1388 22.1933L27.2466 34.8822C27.128 35.064 27.1046 35.1054 26.9596 35.3435L24.9666 38.5483L15.2 22.2038C15.1826 22.1575 15.1601 22.1121 15.1332 22.0693ZM25.1475 45.4475C18.1506 45.4475 13.2748 42.9876 13.2748 40.7809C13.2748 38.778 16.9469 36.8906 21.886 36.3062L24.3124 40.3674C24.4465 40.5911 24.6866 40.7291 24.9472 40.7311C24.9492 40.7311 24.9517 40.7311 24.9537 40.7311C25.2118 40.7311 25.4519 40.5976 25.5884 40.3783L28.1395 36.2768C33.1573 36.8204 37.0197 38.7555 37.0197 40.7809C37.0202 42.9881 32.1444 45.4475 25.1475 45.4475Z"
                  fill="white" />
                <path
                  d="M30.0009 15.7794C30.0009 13.1034 27.8236 10.926 25.1475 10.926C22.4714 10.926 20.2941 13.1034 20.2941 15.7794C20.2941 18.4555 22.4714 20.6329 25.1475 20.6329C27.8236 20.6329 30.0009 18.4555 30.0009 15.7794ZM21.7888 15.7794C21.7888 13.9275 23.2955 12.4208 25.1475 12.4208C26.9995 12.4208 28.5062 13.9275 28.5062 15.7794C28.5062 17.6314 27 19.1381 25.1475 19.1381C23.295 19.1381 21.7888 17.6314 21.7888 15.7794Z"
                  fill="white" />
              </svg>
              <span>Москва, ЦАО, Замоскворечье, Мытная улица, 7с1</span>
            </li>
            <li class="rc-advantages-item">
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M44.9355 24.3225C44.8335 24.0165 44.547 23.81 44.224 23.81H30.0325C29.7095 23.81 29.423 24.0165 29.321 24.3225L28.7545 26.021V13.492H30.287C30.701 13.492 31.037 13.1565 31.037 12.742V8.71999C31.037 8.30549 30.701 7.96999 30.287 7.96999H28.0835V5.16699C28.0835 4.75249 27.7475 4.41699 27.3335 4.41699H6.65352C6.23902 4.41699 5.90352 4.75249 5.90352 5.16699V7.96999H3.69852C3.28402 7.96999 2.94852 8.30549 2.94852 8.71999V12.742C2.94852 13.1565 3.28402 13.492 3.69852 13.492H5.10852V44.833C5.10852 45.247 5.44402 45.583 5.85852 45.583H28.005H46.252C46.666 45.583 47.002 45.247 47.002 44.833V30.7625C47.09 30.5235 44.9355 24.3225 44.9355 24.3225ZM45.3335 30.2575C44.6815 30.643 43.944 30.8475 43.167 30.8475C42.3715 30.8475 41.605 30.6085 40.92 30.176V25.31H43.6835L45.3335 30.2575ZM34.8385 25.31H39.42V30.1765C38.7345 30.6085 37.9675 30.848 37.172 30.848C36.342 30.848 35.5425 30.601 34.8385 30.131V25.31ZM30.573 25.31H33.338V30.129C32.631 30.6 31.83 30.8475 31.0015 30.8475C30.2575 30.8475 29.547 30.6515 28.911 30.293L30.573 25.31ZM7.40352 5.91699H26.584V7.96999H7.40352V5.91699ZM4.44852 9.46999H6.65352H27.334H29.5375V11.992H28.005H5.85852H4.44852V9.46999ZM6.60852 13.492H27.255V44.083H6.60852V13.492ZM28.755 44.083V31.895C29.4595 32.1925 30.2185 32.3475 31.002 32.3475C32.0975 32.3475 33.154 32.0325 34.0875 31.4325C35.018 32.0325 36.074 32.3475 37.172 32.3475C38.2325 32.3475 39.259 32.0535 40.1705 31.492C41.081 32.0535 42.107 32.3475 43.167 32.3475C43.975 32.3475 44.7715 32.176 45.502 31.854V44.083H28.755Z"
                  fill="white" />
                <path
                  d="M20.285 17.3689H13.7045C13.29 17.3689 12.9545 17.7044 12.9545 18.1189V34.0574C12.9545 34.4714 13.29 34.8074 13.7045 34.8074H20.285C20.6995 34.8074 21.035 34.4714 21.035 34.0574V18.1189C21.035 17.7044 20.699 17.3689 20.285 17.3689ZM19.535 33.3074H14.4545V18.8689H19.535V33.3074Z"
                  fill="white" />
              </svg>
              <span>Школа, Детский сад, Детские площадки, Места для отдыха</span>
            </li>
            <li class="rc-advantages-item">
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M24.9101 1.91821C12.2338 1.91821 1.92022 12.2323 1.92022 24.9096C1.92022 37.5893 12.2333 47.9054 24.9101 47.9054C37.5888 47.9054 47.9034 37.5893 47.9034 24.9096C47.9039 12.2323 37.5888 1.91821 24.9101 1.91821ZM24.9101 46.4266C13.0489 46.4266 3.3995 36.7742 3.3995 24.9096C3.3995 13.0474 13.0489 3.39749 24.9101 3.39749C36.7732 3.39749 46.4246 13.0479 46.4246 24.9096C46.4246 36.7742 36.7737 46.4266 24.9101 46.4266Z"
                  fill="white" />
                <path
                  d="M29.1954 13.1738H15.8964C15.4878 13.1738 15.157 13.5052 15.157 13.9132V37.1915C15.157 37.6001 15.4883 37.9309 15.8964 37.9309H22.5459C22.9545 37.9309 23.2853 37.6001 23.2853 37.1915V28.7369H29.1954C33.4863 28.7369 36.977 25.2457 36.977 20.9549C36.977 16.664 33.4863 13.1738 29.1954 13.1738ZM29.1954 27.2576H22.5459C22.1374 27.2576 21.8065 27.5884 21.8065 27.997V36.4517H16.6363V14.6526H29.1959C32.6712 14.6526 35.4982 17.4796 35.4982 20.9549C35.4977 24.4301 32.6707 27.2576 29.1954 27.2576Z"
                  fill="white" />
                <path
                  d="M29.1954 17.5884H22.5504C22.1418 17.5884 21.811 17.9197 21.811 18.3278V22.8359C21.811 23.2444 22.1423 23.5752 22.5504 23.5752H29.1954C29.604 23.5752 29.9348 23.2439 29.9348 22.8359V18.3278C29.9348 17.9197 29.604 17.5884 29.1954 17.5884ZM28.4561 22.0965H23.2898V19.0677H28.4561V22.0965Z"
                  fill="white" />
              </svg>
              <span>Подземная, Гостевая</span>
            </li>
          </div>
        </div>
      </section>

      <section class="section residential">
        <div class="container">
          <div class="residential-short">
            <div class="residential-block">
              <div class="residential-item">
                <div class="rating">
                  <div class="rating-global">
                    <p class="rating-value"><span>4</span> Хорошо</p>
                    <div class="rating-star">
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star fill"></i>
                      <i class="star"></i>
                      <i class="star"></i>
                    </div>
                  </div>
                  <div class="rating-detail">
                    <ul class="rating-list">
                      <li class="rating-list-item">
                        <div class="rating-star">
                          <i class="star fill"></i>
                          <i class="star fill"></i>
                          <i class="star fill"></i>
                          <i class="star"></i>
                          <i class="star"></i>
                        </div>
                        <span>Архитектура</span>
                      </li>
                      <li class="rating-list-item">
                        <div class="rating-star">
                          <i class="star fill"></i>
                          <i class="star fill"></i>
                          <i class="star fill"></i>
                          <i class="star"></i>
                          <i class="star"></i>
                        </div>
                        <span>Транспортная доступность</span>
                      </li>
                      <li class="rating-list-item">
                        <div class="rating-star">
                          <i class="star fill"></i>
                          <i class="star fill"></i>
                          <i class="star fill"></i>
                          <i class="star"></i>
                          <i class="star"></i>
                        </div>
                        <span>Инфраструктура</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="residential-item">
                <p class="category">краткая информация</p>
                <h3>Жилой комплекс «Английский квартал»</h3>
                <p>Жилой комплекс «Английский квартал» – большой архитектурный ансамбль, построенный в современном
                  европейском стиле и расположенный недалеко от Садового кольца в историческом районе «Замоскворечье».
                </p>
                <p class="mb-60">ЖК находится в тихом уголке центрального округа, между метро «Добрынинская»,
                  «Серпуховская», «Тульская», «Октябрьская» и «Шаболовская». До ближайшего из них – «Серпуховской» –
                  всего 800 метров, восемь минут пешком. На улицах Мытная и Люсиновская останавливаются автобусы и
                  троллейбусы, следующие как к центру, так и в сторону области, к Варшавскому шоссе. Удобный выезд на
                  Садовое кольцо позволяет быстро попасть на Пятницкую, Большую Полянку или Якиманку. Некоторая
                  удаленность от колец – 1,5 км до Садового и 2,5 км до Третьего Транспортного обеспечивает
                  благоприятную экологию района.</p>
                <button class="btn btn-primary height-48">перейти в проекты ЖК</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section residential bg--grey">
        <div class="container">
          <h2>Видеообзор ЖК</h2>
          <div class="residential-video">
            <i class="play"></i>
            <video class="rc-video" preload="none" controls poster="/images/content/video-poster.jpg">
              <source src="/images/content/video.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </section>

      <section class="section residential">
        <div class="container">
          <div class="residential-deta">
            <div class="residential-block">
              <div class="residential-item">
                <p class="category">Подробная информация</p>
              </div>
              <div class="residential-item">
                <h3>Детальные план-чертежи проекта Вандер Парк</h3>
                <p>Холлы и вестибюли комплекса по своему уровню соответствуют интерьерам высококлассных отелей. В декоре
                  используются натуральное дерево, высококачественные отделочные материалы. Интерьеры каждого подъезда
                  оформлены в классическом английском стиле по индивидуальному дизайн-проекту итальянского
                  архитектурного бюро Interstudio. Каждый холл превращен в полноценную зону отдыха с диванами, креслами
                  и журнальными столиками. </p>
                <ul class="residential-detail">
                  <li class="residential-detail-item"><span>Застройщик</span><span>Автокомбинат №32</span></li>
                  <li class="residential-detail-item"><span>Срок сдачи</span><span>2013</span></li>
                  <li class="residential-detail-item"><span>Класс</span><span>Бизнес</span></li>
                  <li class="residential-detail-item"><span>Домов</span><span>2 корпуса</span></li>
                  <li class="residential-detail-item"><span>Этажность</span><span>11-17</span></li>
                  <li class="residential-detail-item"><span>Тип дома</span><span>Тип дома</span></li>
                  <li class="residential-detail-item"><span>План потолков</span><span>Монолитно-кирпичный</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section residential pb-20">
        <div class="container">
          <p class="category mb-30">фото жк</p>
          <div class="swiper swiper-residential">
            <div class="swiper-wrapper pb-115">
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-1.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/1</span>
              </div>
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-2.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/2</span>
              </div>
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-3.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/3</span>
              </div>
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-1.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/4</span>
              </div>
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-1.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/5</span>
              </div>
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-2.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/6</span>
              </div>
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-3.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/7</span>
              </div>
              <div class="swiper-slide">
                <img src="/images/content/residential-photo-1.jpg" alt="residential-photo">
                <span class="swiper-slide-count">/8</span>
              </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>

      <section class="section residential">
        <h2>Лучшее в ЖК</h2>
        <div class="residential-best">
          <div class="residential-best-photo">
            <img src="/images/content/best-photo-1.jpg" alt="best photo">
          </div>
          <div class="residential-best-text">
            <div class="residential-best-text-inner">
              <h3>Охранная система</h3>
              <p>Система видеонаблюдения несанкционированного проникновения, краж и прочих неприятных ситуаций предельно
                продумана. Благодаря удаленному просмотру изображения с камер в режиме реального времени, вы всегда
                будете в курсе, что происходит в квартире или подъезде, находясь в любой точке земного шара.</p>
            </div>
          </div>
        </div>
        <div class="residential-best">
          <div class="residential-best-photo">
            <img src="/images/content/best-photo-2.jpg" alt="best photo">
          </div>
          <div class="residential-best-text">
            <div class="residential-best-text-inner">
              <h3>Паркинг</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh lorem ut eu neque. Nunc varius porttitor
                adipiscing tempor cursus id. Id volutpat mauris, purus semper ut vitae justo. Pellentesque vehicula
                vivamus faucibus magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh lorem ut eu neque.
                Nunc varius porttitor adipiscing tempor cursus id. Id volutpat mauris, purus semper ut vitae justo.
                Pellentesque vehicula vivamus faucibus magna.</p>
            </div>
          </div>
        </div>
        <div class="residential-best">
          <div class="residential-best-photo">
            <img src="/images/content/best-photo-3.jpg" alt="best photo">
          </div>
          <div class="residential-best-text">
            <div class="residential-best-text-inner">
              <h3>Спортивная площадка</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh lorem ut eu neque. Nunc varius porttitor
                adipiscing tempor cursus id. Id volutpat mauris, purus semper ut vitae justo. Pellentesque vehicula
                vivamus faucibus magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh lorem ut eu neque.
                Nunc varius porttitor adipiscing tempor cursus id. Id volutpat mauris, purus semper ut vitae justo.
                Pellentesque vehicula vivamus faucibus magna.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="section example example--white example--project">
        <div class="container">
          <div class="header-block mb-70">
            <h2 class="aos-init aos-animate" data-aos="fade-up">Ремонты в ЖК “Вандер Парк”</h2>
            <button class="btn btn-simple btn-simple--grey height-48">все проекты</button>
          </div>
        </div>
        <div class="container">
          <div class="example-inner scroll-x">
            <div class="example-card">
              <div class="example-card-body">
                <img src="/images/content/example-1.jpg" alt="example">
                <div class="example-card-hover">
                  <a href="#" class="btn btn-transparent btn-border">Подробнее</a>
                  <a href="#" class="btn btn-transparent btn-border">3D-тур</a>
                </div>
              </div>
              <div class="example-card-footer">
                <div class="example-card-object">
                  <div class="adress">
                    <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.46667 8.64835C0.766784 7.94028 0.289962 7.03783 0.0965315 6.05519C-0.0968989 5.07255 0.00175434 4.05387 0.380009 3.12803C0.758264 2.2022 1.39912 1.41081 2.2215 0.854008C3.04388 0.297203 4.01083 0 5 0C5.98917 0 6.95612 0.297203 7.7785 0.854008C8.60088 1.41081 9.24174 2.2022 9.61999 3.12803C9.99825 4.05387 10.0969 5.07255 9.90347 6.05519C9.71004 7.03783 9.23322 7.94028 8.53333 8.64835L5.39444 11.8335C5.3428 11.8863 5.28135 11.9282 5.21365 11.9567C5.14595 11.9853 5.07334 12 5 12C4.92666 12 4.85405 11.9853 4.78635 11.9567C4.71865 11.9282 4.6572 11.8863 4.60556 11.8335L1.46667 8.64835ZM7.75 7.85487C8.29383 7.30394 8.66417 6.60202 8.81419 5.83789C8.96421 5.07376 8.88718 4.28172 8.59283 3.56194C8.29847 2.84215 7.80002 2.22694 7.16051 1.79411C6.52099 1.36127 5.76913 1.13025 5 1.13025C4.23087 1.13025 3.47901 1.36127 2.83949 1.79411C2.19998 2.22694 1.70153 2.84215 1.40717 3.56194C1.11282 4.28172 1.03579 5.07376 1.18581 5.83789C1.33583 6.60202 1.70617 7.30394 2.25 7.85487L5 10.6405L7.75 7.85487ZM5 7.32025C4.41063 7.32025 3.8454 7.08309 3.42865 6.66095C3.0119 6.2388 2.77778 5.66625 2.77778 5.06924C2.77778 4.47223 3.0119 3.89968 3.42865 3.47753C3.8454 3.05539 4.41063 2.81823 5 2.81823C5.58937 2.81823 6.1546 3.05539 6.57135 3.47753C6.9881 3.89968 7.22222 4.47223 7.22222 5.06924C7.22222 5.66625 6.9881 6.2388 6.57135 6.66095C6.1546 7.08309 5.58937 7.32025 5 7.32025ZM5 6.19475C5.29468 6.19475 5.5773 6.07617 5.78567 5.86509C5.99405 5.65402 6.11111 5.36774 6.11111 5.06924C6.11111 4.77074 5.99405 4.48446 5.78567 4.27339C5.5773 4.06231 5.29468 3.94373 5 3.94373C4.70532 3.94373 4.4227 4.06231 4.21433 4.27339C4.00595 4.48446 3.88889 4.77074 3.88889 5.06924C3.88889 5.36774 4.00595 5.65402 4.21433 5.86509C4.4227 6.07617 4.70532 6.19475 5 6.19475Z"
                        fill="#C2C2C2"></path>
                    </svg>
                    ул. Родниковая, г.Москва
                  </div>
                  <div class="name">Ремонт в ЖК Сердце Столицы</div>
                </div>
                <div class="example-card-price">
                  <p class="price">4,5 млн руб</p>
                </div>
              </div>
            </div>
            <div class="example-card">
              <div class="example-card-body">
                <img src="/images/content/example-2.jpg" alt="example">
                <div class="example-card-hover">
                  <a href="#" class="btn btn-transparent btn-border">Подробнее</a>
                  <a href="#" class="btn btn-transparent btn-border">3D-тур</a>
                </div>
              </div>
              <div class="example-card-footer">
                <div class="example-card-object">
                  <div class="adress">
                    <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.46667 8.64835C0.766784 7.94028 0.289962 7.03783 0.0965315 6.05519C-0.0968989 5.07255 0.00175434 4.05387 0.380009 3.12803C0.758264 2.2022 1.39912 1.41081 2.2215 0.854008C3.04388 0.297203 4.01083 0 5 0C5.98917 0 6.95612 0.297203 7.7785 0.854008C8.60088 1.41081 9.24174 2.2022 9.61999 3.12803C9.99825 4.05387 10.0969 5.07255 9.90347 6.05519C9.71004 7.03783 9.23322 7.94028 8.53333 8.64835L5.39444 11.8335C5.3428 11.8863 5.28135 11.9282 5.21365 11.9567C5.14595 11.9853 5.07334 12 5 12C4.92666 12 4.85405 11.9853 4.78635 11.9567C4.71865 11.9282 4.6572 11.8863 4.60556 11.8335L1.46667 8.64835ZM7.75 7.85487C8.29383 7.30394 8.66417 6.60202 8.81419 5.83789C8.96421 5.07376 8.88718 4.28172 8.59283 3.56194C8.29847 2.84215 7.80002 2.22694 7.16051 1.79411C6.52099 1.36127 5.76913 1.13025 5 1.13025C4.23087 1.13025 3.47901 1.36127 2.83949 1.79411C2.19998 2.22694 1.70153 2.84215 1.40717 3.56194C1.11282 4.28172 1.03579 5.07376 1.18581 5.83789C1.33583 6.60202 1.70617 7.30394 2.25 7.85487L5 10.6405L7.75 7.85487ZM5 7.32025C4.41063 7.32025 3.8454 7.08309 3.42865 6.66095C3.0119 6.2388 2.77778 5.66625 2.77778 5.06924C2.77778 4.47223 3.0119 3.89968 3.42865 3.47753C3.8454 3.05539 4.41063 2.81823 5 2.81823C5.58937 2.81823 6.1546 3.05539 6.57135 3.47753C6.9881 3.89968 7.22222 4.47223 7.22222 5.06924C7.22222 5.66625 6.9881 6.2388 6.57135 6.66095C6.1546 7.08309 5.58937 7.32025 5 7.32025ZM5 6.19475C5.29468 6.19475 5.5773 6.07617 5.78567 5.86509C5.99405 5.65402 6.11111 5.36774 6.11111 5.06924C6.11111 4.77074 5.99405 4.48446 5.78567 4.27339C5.5773 4.06231 5.29468 3.94373 5 3.94373C4.70532 3.94373 4.4227 4.06231 4.21433 4.27339C4.00595 4.48446 3.88889 4.77074 3.88889 5.06924C3.88889 5.36774 4.00595 5.65402 4.21433 5.86509C4.4227 6.07617 4.70532 6.19475 5 6.19475Z"
                        fill="#C2C2C2"></path>
                    </svg>
                    ул. Родниковая, г.Москва
                  </div>
                  <div class="name">Ремонт в ЖК Сердце Столицы</div>
                </div>
                <div class="example-card-price">
                  <p class="price">4,5 млн руб</p>
                </div>
              </div>
            </div>
            <div class="example-card">
              <div class="example-card-body">
                <img src="/images/content/example-3.jpg" alt="example">
                <div class="example-card-hover">
                  <a href="#" class="btn btn-transparent btn-border">Подробнее</a>
                  <a href="#" class="btn btn-transparent btn-border">3D-тур</a>
                </div>
              </div>
              <div class="example-card-footer">
                <div class="example-card-object">
                  <div class="adress">
                    <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.46667 8.64835C0.766784 7.94028 0.289962 7.03783 0.0965315 6.05519C-0.0968989 5.07255 0.00175434 4.05387 0.380009 3.12803C0.758264 2.2022 1.39912 1.41081 2.2215 0.854008C3.04388 0.297203 4.01083 0 5 0C5.98917 0 6.95612 0.297203 7.7785 0.854008C8.60088 1.41081 9.24174 2.2022 9.61999 3.12803C9.99825 4.05387 10.0969 5.07255 9.90347 6.05519C9.71004 7.03783 9.23322 7.94028 8.53333 8.64835L5.39444 11.8335C5.3428 11.8863 5.28135 11.9282 5.21365 11.9567C5.14595 11.9853 5.07334 12 5 12C4.92666 12 4.85405 11.9853 4.78635 11.9567C4.71865 11.9282 4.6572 11.8863 4.60556 11.8335L1.46667 8.64835ZM7.75 7.85487C8.29383 7.30394 8.66417 6.60202 8.81419 5.83789C8.96421 5.07376 8.88718 4.28172 8.59283 3.56194C8.29847 2.84215 7.80002 2.22694 7.16051 1.79411C6.52099 1.36127 5.76913 1.13025 5 1.13025C4.23087 1.13025 3.47901 1.36127 2.83949 1.79411C2.19998 2.22694 1.70153 2.84215 1.40717 3.56194C1.11282 4.28172 1.03579 5.07376 1.18581 5.83789C1.33583 6.60202 1.70617 7.30394 2.25 7.85487L5 10.6405L7.75 7.85487ZM5 7.32025C4.41063 7.32025 3.8454 7.08309 3.42865 6.66095C3.0119 6.2388 2.77778 5.66625 2.77778 5.06924C2.77778 4.47223 3.0119 3.89968 3.42865 3.47753C3.8454 3.05539 4.41063 2.81823 5 2.81823C5.58937 2.81823 6.1546 3.05539 6.57135 3.47753C6.9881 3.89968 7.22222 4.47223 7.22222 5.06924C7.22222 5.66625 6.9881 6.2388 6.57135 6.66095C6.1546 7.08309 5.58937 7.32025 5 7.32025ZM5 6.19475C5.29468 6.19475 5.5773 6.07617 5.78567 5.86509C5.99405 5.65402 6.11111 5.36774 6.11111 5.06924C6.11111 4.77074 5.99405 4.48446 5.78567 4.27339C5.5773 4.06231 5.29468 3.94373 5 3.94373C4.70532 3.94373 4.4227 4.06231 4.21433 4.27339C4.00595 4.48446 3.88889 4.77074 3.88889 5.06924C3.88889 5.36774 4.00595 5.65402 4.21433 5.86509C4.4227 6.07617 4.70532 6.19475 5 6.19475Z"
                        fill="#C2C2C2"></path>
                    </svg>
                    ул. Родниковая, г.Москва
                  </div>
                  <div class="name">Ремонт в ЖК Сердце Столицы</div>
                </div>
                <div class="example-card-price">
                  <p class="price">4,5 млн руб</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>

      <section class="section callback callback--grey">
        <div class="container">
          <div class="callback-block">
            <div class="callback-block-heading">
              <p class="title">Желаете, чтобы наша команда выполнила Ваш проект или есть некоторые вопросы?</p>
              <p class="description">Заполните форму рядом и наши специалисты свяжутся с Вами в ближайшее время.</p>
            </div>
            <div>
              <form class="form">
                <div class="form-group form-floating">
                  <input type="text" class="form-control" id="name" placeholder="Имя">
                  <label for="name">Имя</label>
                </div>
                <div class="form-group form-floating">
                  <input type="tel" class="form-control" id="phone" placeholder="Телефон">
                  <label for="phone">Телефон</label>
                </div>
                <div class="form-group form-floating">
                  <input type="email" class="form-control" id="email" placeholder="Email">
                  <label for="email">Email</label>
                </div>
                <div class="form-group form-floating mb-55">
                  <input type="text" class="form-control" id="message" placeholder="Сообщение">
                  <label for="message">Сообщение</label>
                </div>
                <div class="form-submit">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="agreement">
                    <label class="form-check-label" for="agreement">
                      Я согласен на <a href="#"><u>обработку персональных данных</u></a>
                    </label>
                  </div>
                  <button class="btn btn-primary">отправить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>



    </main>

    {{> components/footer }}
  </div>
</body>

</html>